.body_img {
    border-radius: 50%;
    border: solid 3px #808080;
    height: 10rem;
    width: 10rem;
    display: block;
    margin: 1rem auto;
}

.about_title {
    font-size: 2rem;
    text-align: center;
}

.about_content {
    font-size: 1.2rem;
    margin: 1rem;
}