.body_img {
    border-radius: 50%;
    border: solid 3px #808080;
    height: 10rem;
    width: 10rem;
    display: block;
    margin: 1rem auto;
}

.container--video {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media screen and (min-width: 720px) {
    .body_img {
        height: 15rem;
        width: 15rem;
    }

}